* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 90% !important;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 0.8rem;
  font-weight: 600;
  color: hsl(243, 87%, 12%);
}

.header-container {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 4em;
}

.header-text {
  margin-top: 4em;
}

.header-container h1 {
  width: 100%;
  font-size: 2.5rem;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.6em;
  margin-bottom: 0.5em;
}

.header-container p {
  width: 90%;
  font-size: 0.98rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 1em;
}

.header-container input {
  padding: 0.6em 2em;
  border: 1px solid hsl(0, 0%, 75%);
  margin-bottom: 1em;
}

.header-container button {
  padding: 0.8em 4em;
  border: none;
  border-radius: 0.2em;
  background-color: hsl(224, 93%, 58%);
  color: white;
  font-size: 0.8rem;
  font-family: "Raleway";
  font-weight: 600;
}

.header-container button:hover {
  cursor: pointer;
  background-color: hsl(224, 87%, 69%);
  color: white;
}

#error-message1 {
  color: red;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
  margin-bottom: 1em;
  transition: top 0.3s ease-in-out;
}

.header-container img {
  max-width: 100%;
}

.bg-container {
  background-image: url(images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  margin-top: 6em;
  max-width: 100%;
}

.Features {
  width: 90%;
  margin: auto;
  display: flex;
  padding-bottom: 4em;
}
.Features-img {
  max-width: 100%;
  margin-top: 5em;
}

.Features-text h2 {
  width: 100%;
  font-size: 1.9rem;
  font-family: "Raleway";
  font-weight: 700;
  margin-top: 4em;
  margin-bottom: 1em;
}

.Features-text p {
  width: 90%;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 1em;
}

.Features-img img {
  max-width: 80%;
  float: right;
}

.underline-link {
  position: relative;
  text-decoration: none;
  color: hsl(170, 45%, 43%);
  font-family: "Raleway";
  font-size: 0.9rem;
}

.underline-link img {
  width: 15px !important;
  vertical-align: middle;
}

.underline-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsl(170, 45%, 43%);
  z-index: 1;
}

.testimonials {
  background-color: #ffffff;
  width: 53%;
  padding: 1.5em;
  border-radius: 0.3em;
  box-shadow: 0 0 1em hsl(0, 0%, 75%);
  margin-top: 3em;
}

.testimonials img {
  margin-bottom: 1em;
}

.testimonials p {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 1.5em;
}

.testimonials-user img {
  width: 2em;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.user-position {
  font-size: 0.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.cta-container {
  background-color: hsl(238, 22%, 44%);
  width: 100%;
}

.cta {
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 4em 0em;
}

.cta-text {
  color: hsl(240, 75%, 98%);
}

.cta-text h2 {
  font-size: 2rem;
  font-family: "Raleway";
  font-weight: 600;
  margin-bottom: 0.8em;
}

.cta-text p {
  font-size: 1rem;
  width: 50%;
  font-family: "Open Sans", sans-serif;
}

.cta-inputs input[type="email"] {
  padding: 0.6em 1em;
  margin-bottom: 1em;
  width: 27rem;
  border-radius: 0.25em;
  border: none;
}

.cta-inputs input::placeholder {
  color: hsl(0, 0%, 75%);
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

#cta-btn {
  padding: 1em 3em;
  border: none;
  background-color: hsl(224, 93%, 58%);
  color: hsl(240, 75%, 98%);
  border-radius: 0.3em;
  font-size: 0.6em;
  font-family: "Raleway";
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: top 0.3s;
}

#cta-btn button:hover {
  cursor: pointer;
  background-color: hsl(224, 87%, 69%);
  color: white;
  transition: 0.3s ease-in-out;
}

#error-message2 {
  position: absolute;
  color: hsl(240, 75%, 98%);
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
  margin-bottom: 1em;
}

.footer-container {
  background-color: hsl(243, 87%, 12%);
  width: 100%;
}

.footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: auto;
  padding: 4em 0em;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.footer-links div {
  margin-right: 10em;
}

.footer-links a {
  text-decoration: none;
  color: hsl(240, 75%, 98%);
  font-size: 0.8rem;
  font-family: "Raleway";
  font-weight: 500;
}

.footer-links ul {
  list-style-type: none;
}

.first ul,
.second ul,
.third ul {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.footer-links ul li img {
  margin-right: 0.5em;
  vertical-align: middle;
}

.footer-social img {
  width: 2em;
}

/* Tablet screen */

@media screen and (max-width: 768px) {
  .nav-bar {
    vertical-align: middle;
  }

  .nav-bar img {
    width: 5em;
  }
  .header-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .header-container img {
    margin-top: 2em;
  }

  .header-container h1 {
    font-size: 2rem;
    line-height: 1.4;
  }

  .header-container p {
    width: 77%;
    font-size: 0.9rem;
    margin-left: 4em;
  }

  .header-input {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }

  .footer-links {
    flex-direction: column;
  }

  .Features {
    flex-direction: column-reverse;
    text-align: center;
  }

  .Features-text h2 {
    font-size: 1.3rem !important;
  }

  .Features-text p {
    color: hsl(0, 0%, 75%);
    text-align: start;
  }

  .testimonials {
    margin: 3em;
    text-align: start;
    width: 62%;
  }

  .testimonials p {
    color: hsl(243, 87%, 12%);
  }

  .cta {
    flex-direction: column;
    text-align: center;
  }

  .cta-text h2 {
    font-size: 1.5rem;
  }

  .cta-text p {
    width: 70%;
    font-size: 0.9rem;
    margin-left: 4em;
    margin-bottom: 1.5em;
  }

  .cta-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cta-inputs input[type="email"] {
    width: 20em;
    margin-bottom: 1em;
  }

  #cta-btn {
    width: 100%;
  }

  #error-message1 {
    display: block;
  }
  .footer-links div {
    margin-right: 0em;
  }

  .footer-links ul li img {
    margin-right: 0.5em;
  }

  .first ul,
  .second ul,
  .third ul {
    margin-bottom: 1.5em;
  }
  .footer-links {
    gap: 1.5em;
  }

  .footer-social {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-left: 8em;
  }
}

/* End of Tablet screen */

/* Mobile screen */
@media screen and (max-width: 375px) {
  .nav-bar {
    vertical-align: middle;
  }

  .nav-bar img {
    width: 5em;
  }
  .nav-links {
    width: 100%;
    gap: 1em;
    justify-content: end;
  }

  .header-text h1 {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  .header-text p {
    font-size: 0.72rem;
    margin: auto;
  }
  .header-input {
    margin-top: 1.5em;
  }

  .header-input input[type="email"] {
    border-radius: 0.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: hsl(243, 87%, 12%);
  }

  .header-input button {
    font-size: 0.9rem !important;
    border-radius: 0.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0.2em 0.2em 0.9em hsl(0, 0%, 75%);
  }

  .Features-text h2 {
    font-size: 1rem !important;
  }

  .Features-text p {
    font-size: 0.8rem;
  }
  .Features-img img {
    width: 100%;
  }
  .underline-link {
    font-size: 0.75rem;
  }

  .testimonials {
    margin: 0em;
    margin-top: 2em;
    margin-left: 1.5em;
    padding-right: 0em;
    width: 80%;
  }

  .testimonials p {
    font-size: 0.6rem;
  }

  .cta-text h2 {
    font-size: 1rem;
  }
  .cta-text p {
    font-size: 0.75rem;
  }

  .cta-inputs input[type="email"] {
    width: 20em;
    margin-bottom: 1em;
  }

  .cta-inputs input[type="email"] {
    width: 15em;
  }

  .cta-inputs button {
    width: 100%;
  }

  .footer-social {
    margin-left: 3em;
  }
}

/* End of Mobile screen */

@media screen and (max-width: 270px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .nav-links {
    gap: 0.5em;
  }
}
